# Copy this file to instances/<name>.env
# Example: instances/kanyu.env

GITHUB_REPOSITORY=lpearf-pixel/example-repository
GITHUB_TOKEN=github_pat_replace_me

RUNNER_NAME=home-example-runner
RUNNER_LABELS=lan,docker,home
RUNNER_GROUP=Default
RUNNER_WORKDIR=_work
RUNNER_EPHEMERAL=false

HTTP_PROXY=http://192.168.2.28:8001
HTTPS_PROXY=http://192.168.2.28:8001
